 
<div class="container margenes">
    <div class="row">
        <div class="col">
            <h2>Modificar la novedad numero {{novedad.id}}</h2>
            <form action="/admin/novedades/modificar" method="post">
             <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3">
                    <label for="" class="form-label">Titulo</label>
                    <input type="text" class="form-control" name="titulo" value="{{novedad.Titulo}}">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Subtitulo</label>
                    <textarea class="form-control"  name="subtitulo" rows="3">{{novedad.Subtitulo}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Cuerpo</label>
                    <textarea class="form-control" name="cuerpo" rows="3">{{novedad.Cuerpo}}</textarea>
                </div>
                <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3" >Modificar</button>
                </div>
            </form>
            {{#if error}}
            <p class="requerido">{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>