<div class="novedades">
            <h2>Novedades</h2>
            <p>Las tendencias de la industria, las novedades, lo que viene. <br><br> Conocé el presente de la
                vitivinicultura argentina y enterate de todo lo que tenés que saber acerca de nuestros vinos.</p>     
        </div>
        <div style="float:right; position:relative; right: 100px; bottom:50px ">
            <form action="/novedades" method="get">
                <input type="search" style="width: 300px; height: 46px;" name="q" {{#if q}} value="{{q}}" {{/if}} > 
                <button  class="btn btn-secondary" style="height: 46px; font-size:18px"; type="submit">Buscar</button>            

            </form>
        </div>
        <div class="noticias">
            <!-- noticia numero 1 -->
            {{#each novedades}}
            <div class="noticia">
                <h3>{{titulo}}</h3>
                <h4>{{subtitulo}}</h4>
                <p>{{cuerpo}}</p>
                <hr />
            </div>
            {{/each}}
            {{#if is_search}}
                {{#unless novedades.length}}
                    <p class="buscador">* No se encontraron resultados para <b>"{{q}}"</b></p>
                {{/unless}}
             {{/if}}    
            
        </div>